h1 {
  text-align: center;
}
.thumbnail {
  width: 300px;
}
.catItem {
  width: 300px;
  margin: 20px;
}

.catList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cart {
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

.hide {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
}
.cart {
  align-self: flex-end;
  font-size: 18px;
  text-align: center;
}
